@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;1,100&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');


* {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

:root {
    --titulo: 'Delicious Handrawn';
    --texto: 'Josefin sans';
    --cor-primaria: #eeeeee;
    --cor-secundaria: #DFCDDB;
    --cor-botoes: #8D6B94;
    --branco: #ffffff;
}

body {
    background-color: var(--cor-primaria);
    height: 100vh;

}

.fundo img {
    position: absolute;
    width: 30%;
    opacity: 30%;
    margin-left: 3rem;
}

.fundo img:nth-child(2) {
    margin-left: 79rem;
    opacity: 30%;
}

/* REFERENTE AO HEADER DA PAGINA */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    margin: 4rem 0 2rem 0;
    font-family: var(--texto);
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
}


.info {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding-bottom: 1rem;

}


.info span {
    background-color: var(--cor-botoes);
    color: var(--branco);
    font-size: 1.3em;
}

.topic {
    display: flex;
    gap: 3rem;
    color: var(--branco);
    font-size: 1.5em;
}

.topic li {
    border: 1px solid black;
    border-radius: 5rem;
    padding: .2rem .2rem;
    width: 6rem;
    background-color: var(--cor-botoes);

    display: flex;
    justify-content: center;
    transition: .3s;
}

.topic li:hover{
    background-color: #674e6c;
}



.topic li a{
    color: var(--branco);
}



.header-social {
    display: flex;
    gap: 1rem;
}

.header-social i {
    color: #000000;
    font-size: 1.5em;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-right: 10rem;
}

.titulo h1 {
    text-transform: uppercase;
    margin-left: 10rem;
    font-size: 3rem;
    font-family: var(--titulo);
    font-weight: 100;
    color: #2e2e2e;
}

.titulo h2 {
    margin-left: 10rem;
    font-size: 2rem;
    font-family: var(--texto);
    font-weight: 400;
    color: #2e2e2e;
}

/* ////////////////////////////////////////// */


/* REFERENTE AO SLIDE DE IMAGENS */

.slides {
    height: 70%;
    width: 55%;
    border-radius: 5rem;
    overflow: hidden;
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.navigation {
    position: absolute;
    bottom: 2.5rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.border {
    width: 6rem;
    height: 1rem;
    margin: .8rem;
    border: 2px solid #ffffff;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2s;
}

.slides input {
    display: none;
}

.border:hover {
    background-color: #ffffff;
}

.next {
    display: flex;
    width: 500%;
    height: 100%;
}

.slide {
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#radio1:checked~.slide1 {
    margin-left: 0;
}

#radio2:checked~.s1 {
    margin-left: -20%;
}

#radio3:checked~.s1 {
    margin-left: -40%;
}

#radio4:checked~.s1 {
    margin-left: -60%;
}

#radio5:checked~.s1 {
    margin-left: -80%;
}

/* ----------------------- */

/* REFERENTE AO SOBRE MIM */

.sobre-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--cor-secundaria);
    margin-top: 45%;
    height: 50rem;
    
}

.conteudo-wrapper {
    border-radius: 1rem;
    padding: 3rem 2rem 4rem 2rem;
    font-weight: 300;
    width: 30%;
    font-size: 1.9em;
    font-family: var(--texto);
    background-color: var(--cor-primaria);
}

.title-sobre{
    font-family: var(--titulo);
    display: flex;
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 2em;
}


.cartoon{
    width: 40rem;
}




/* ---------------------------- */


/* REFERENTE A GALERIA DE FOTOS */

.galeria {
    background-color: var(--cor-primaria);
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.galeria h2 {
    font-size: 3rem;
    font-family: var(--titulo);
    text-transform: capitalize;

}

.grid-container {
    display: grid;
    height: 60rem;
    gap: 6rem;


    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;

    justify-content: space-evenly;
    align-content: space-evenly;
}

.grid-container img {
    object-fit: cover;
    width: 20rem;
    height: 20rem;
    transition: .1s;
}

.grid-container img:hover {
    transform: scale(1.3);
}

.container-botao {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.expandir {
    border: none;
    background-color: transparent;
}

.expandir img {
    width: 2rem;
    cursor: pointer;
}

.grid-container-hidden {
    display: none;

}

.show {
    padding-top: 20rem;
    padding-bottom: 20rem;

    display: grid;
    height: 60rem;
    gap: 6rem;

    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;

    align-content: space-evenly;
}

.grid-container-hidden img {
    width: 20rem;
    height: 20rem;

    transition: .1s;
}

.grid-container-hidden img:hover {
    transform: scale(1.3);
}

.grid-item:target {
    position: fixed;
    top: 3rem;
    width: 68rem;
    height: 50rem;
    background-color: #545454bc;
    padding: 2rem;
    z-index: 2;

    display: flex;
    justify-content: center;
}

.grid-item:target img {
    width: 50rem;
    height: 50rem;
    transform: none;
    border-radius: 10px;
}

.fechar-imagem {
    display: none;
}

.grid-item:target .fechar-imagem {
    display: block;
    font-size: 2.5em;
    position: absolute;
    left: 101%;
    bottom: 98%;
    z-index: 3;
}

.fechar-imagem i {
    color: #000000;
}
/* -------------------------- */

  /* SESSAO CONTATO */

    .sessao-contato{
        width: 100%;
        height: 100vh;
        background-color: var(--cor-secundaria);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contato-wrapper{
        border-radius: 2rem;
        width: 70%;
        height: 40rem;
        display: flex;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.26);
    }

    .contato-left{
        border-radius: 2rem;
        width: 40%;
        background-size: cover;
        background: linear-gradient(rgba(254, 128, 243, 0.2), rgba(237, 176, 228, 0.27));
    }

    .contato-left img{
        width: 90%;
        opacity: 80%;
        margin-top: 10rem;
        margin-left: 1rem;
    }

    .contato-right{
        width: 100%;
        background-color: var(--cor-primaria);
        padding: 1rem 3rem 3rem 3rem;
    }

    .sessao-contato h2{
        width: 100%;
        margin-top: 3rem;
        margin-bottom: 3rem;
        font-family: var(--titulo);
        font-weight: 100;
        color: #272727;
        align-items: center;
        font-size: 3em;
    }

    .sessao-contato form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-group{
        position: relative;
    }

    .field{
        background-color: transparent;
        width: 20rem;
        border: none;
        font-size: 1.5rem;
        font-family: var(--texto);
        border-bottom: 2px dashed;
        height: 3rem;
        outline: none;
        margin-top: 2.2rem;
    }

    .input-group textarea{
        padding-top: 1rem;
        max-width: 20rem;
        max-height: 7rem;
    }

    .field-label{
        position: absolute;
        left: 0;
        top: 0.5rem;
        font-size: 1.2rem;
        font-family: var(--texto);
        text-transform: uppercase;
    }

    .btn-submit{
        width: 50%;
        height: 2rem;
        font-size: 1.2rem;
        font-family: var(--texto);
        text-transform: uppercase;
        margin-top: 1.8rem;

        border-radius: .5rem;
        border: none;
        color: var(--branco);
        background-color: var(--cor-botoes);
        transition: .2s;
        cursor: pointer;
    }

    .btn-submit a{
        color: inherit;
    }

    .btn-submit:hover{
        background-color: #674e6c;
    }



 /* //////////////////////////////// */

/* REFERENTE AO FOOTER */

footer {
    width: 100%;
    background-color: #2e2e2e;
    padding-bottom: 3%;
    padding-top: 3%;
    display: flex;
    align-items: center;
}

footer ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 1rem;

}

.texto-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.4em;
    width: 60%;
    padding-left: 1rem;
    color: #ffffff;
    padding-left: 15rem;
    font-family: var(--texto);
}

footer i {
    font-size: 2em;
    font-family: var(--titulo);
    color: #ffffff;
}

footer .copy {
    position: absolute;
    width: 100%;
    margin-top: 12%;
    background-color: #1e1e1e;
    justify-content: flex-start;
}

.copy p {
    text-align: center;
    padding-top: 1%;
    margin-bottom: 1%;
    color: #ffffff;
    font-family: var(--texto);
}


/* ------------------------ */